BLL.dll
BLL.pdb
DAL.dll
DAL.pdb
BLL.csproj.AssemblyReference.cache
BLL.csproj.CoreCompileInputs.cache
BLL.csproj.FileListAbsolute.txt
BLL.dll
BLL.pdb
DesignTimeResolveAssemblyReferencesInput.cache
DAL.dll
DAL.pdb
DAL.csproj.CoreCompileInputs.cache
DAL.csproj.FileListAbsolute.txt
DAL.csproj.GenerateResource.cache
DAL.dll
DAL.pdb
DesignTimeResolveAssemblyReferencesInput.cache
BLL.dll
BLL.pdb
SkillShare.dll
SkillShare.pdb
DesignTimeResolveAssemblyReferencesInput.cache