SkillShare/.vs/SkillShare/v17/.suo
SkillShare/BLL/bin/Debug/BLL.dll
SkillShare/BLL/bin/Debug/BLL.pdb
SkillShare/BLL/bin/Debug/DAL.dll
SkillShare/BLL/bin/Debug/DAL.pdb
SkillShare/BLL/obj/Debug/BLL.csproj.AssemblyReference.cache
SkillShare/BLL/obj/Debug/BLL.csproj.CoreCompileInputs.cache
SkillShare/BLL/obj/Debug/BLL.csproj.FileListAbsolute.txt
SkillShare/BLL/obj/Debug/BLL.dll
SkillShare/BLL/obj/Debug/BLL.pdb
SkillShare/DAL/bin/Debug/DAL.dll
SkillShare/DAL/bin/Debug/DAL.pdb
SkillShare/DAL/obj/Debug/DAL.csproj.CoreCompileInputs.cache
SkillShare/DAL/obj/Debug/DAL.csproj.FileListAbsolute.txt
SkillShare/DAL/obj/Debug/DAL.csproj.GenerateResource.cache
SkillShare/DAL/obj/Debug/DAL.dll
SkillShare/DAL/obj/Debug/DAL.pdb
SkillShare/DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SkillShare/SkillShare/bin/BLL.dll
SkillShare/SkillShare/bin/BLL.pdb
SkillShare/SkillShare/bin/SkillShare.dll
SkillShare/SkillShare/bin/SkillShare.pdb
SkillShare/SkillShare/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SkillShare/SkillShare/obj/Debug/SkillShare.csproj.AssemblyReference.cache
SkillShare/SkillShare/obj/Debug/SkillShare.csproj.CoreCompileInputs.cache